.Description {
	display: flex;
	margin-top: 10rem;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	justify-content: center;
}

.Description-title {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.Description-info {
	width: 50%;
}

.Description-info p {
	font-size: 2rem;
}

.Description-tech {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem;
}

.Description-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

@media only screen and (max-width: 60rem) {
	.Description-info {
		width: 100%;
	}

	.Description-tech {
		width: 100%;
	}
}
