@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	color: #111;
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: relative;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #EEE;

}
