.Navbar {
	align-items: center;
	background-color: #eee;

	display: flex;
	height: 7rem;
	justify-content: space-around;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.Navbar-contact {
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.Navbar-contact > * {
	align-items: center;
	display: flex;
	font-size: 1.4rem;
	margin: 0 1.5rem;
}

.Navbar-contact .icon {
	margin-right: 0.3rem;
}

.contact-Logo img {
	cursor: pointer;
	height: 5rem;
}

@media only screen and (max-width: 40rem) {
	.contact-Logo img {
		height: 3rem;
	}
}
